<% if (items && items.length > 0) { %>
    <div class="breadcrumbs text-sm mb-4 place-self-end">
        <ul>
            <% items.forEach(function(item) { %>
                <% if (item.url) { %>
                    <li>
                        <a href="<%= item.url %>"><%= item.text %></a>
                    </li>
                <% } else { %>
                    <li class="text-accent">
                        <%= item.text %>
                    </li>
                <% } %>
            <% }) %>
        </ul>
    </div>
<% } else { %>
<p>No crumbs</p>
<% } %>