<!-- Breadcrumb -->
<%- include('partials/breadcrumb', { items: [{ text: 'Home', url: '/' }, { text: 'Users', url: '/' }, { text: data.user.name }] }) %>

<div class="flex flex-row justify-center space-y-8 w-full">    
    <%- include('partials/profile/profile-card', { items: data.user }) %>
</div>